*.bgn
*.bit
*.bld
*.cmd_log
*.csv
*.drc
*.html
iseconfig/
*.exe
*.wdb
*.ini
*.cmd
*.log
.lso
*.lso
*.xmsgs
isim/
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
_ngo/
*.ngr
*.pad
*.par
*.pcf
pepExtractor.prj
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.txt
*.unroutes
usage_statistics_webtalk.html
*.ut
*.vhi
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb/
*.xml
_xmsgs/
*.xpi
*.xrpt
*.xst
xst/
*.xwbt
