# Basys2 on board LEDs
NET "led<0>" LOC = "M5";
NET "led<1>" LOC = "M11";
NET "led<2>" LOC = "P7";
NET "led<4>" LOC = "N5";
NET "led<5>" LOC = "N4";
NET "led<3>" LOC = "P6";
NET "led<6>" LOC = "P4";
NET "led<7>" LOC = "G1";
#
### Basys2 on board switches and buttons
NET "sw<0>" LOC = "P11";
NET "sw<1>" LOC = "L3";
NET "sw<2>" LOC = "K3";
NET "sw<3>" LOC = "B4";
NET "sw<4>" LOC = "G3";
NET "sw<5>" LOC = "F3";
NET "sw<6>" LOC = "E2";
NET "sw<7>" LOC = "N3";

NET "btn<0>" LOC = "G12";
NET "btn<1>" LOC = "C11";
NET "btn<2>" LOC = "M4";
NET "btn<3>" LOC = "A7";

NET "clk" LOC = "M6";
#NET "clk" CLOCK_DEDICATED_ROUTE = false;

# VGA

NET "hsync"   LOC = "J14";
NET "vsync"   LOC = "K13";
NET "vout<7>"  LOC = "F13";
NET "vout<6>"  LOC = "D13";
NET "vout<5>"  LOC = "C14";
NET "vout<4>"  LOC = "G14";
NET "vout<3>"  LOC = "G13";
NET "vout<2>"  LOC = "F14";
NET "vout<1>"  LOC = "J13";
NET "vout<0>"  LOC = "H13";

# input from pmods
NET "input<7>" LOC = "B2";
NET "input<6>" LOC = "A3";
NET "input<5>" LOC = "J3";
NET "input<4>" LOC = "B5";
NET "input<3>" LOC = "C6";
NET "input<2>" LOC = "B6";
NET "input<1>" LOC = "C5";
NET "input<0>" LOC = "B7";
#NET "input<0>" PULLDOWN;
#NET "input<1>" PULLDOWN;
#NET "input<2>" PULLDOWN;
#NET "input<3>" PULLDOWN;
#NET "input<4>" PULLDOWN;
#NET "input<5>" PULLDOWN;
#NET "input<6>" PULLDOWN;
#NET "input<7>" PULLDOWN;
